.workOrdersProfileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 1rem;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

input {
  padding: 0 2rem;
  width: 90%;
  border-radius: 1.5rem;
  border: 0.2rem solid #d2d3c9;
  height: 2.5rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus {
  outline: none;
}
